<fd-panel class="sapMSplitContainerMaster" [ngClass]="(showMaster$ | async) ? '' : 'hide'">
    <fd-panel-filters class="masterPanelFilter">
        <div class="barMiddle">
            <!-- <ng-container i18n="@@allItems">All Items</ng-container> -->
            <!-- {{translatedTexts?.allItems}} -->
            All Items
            <span> ({{(taskListSearchResults)?.length}})</span>
        </div>
        <div class="barRight">
            <button fd-button [fdType]="'toolbar'" [glyph]="'multiselect'"></button>
        </div>
        <fd-search-input [searchFunction]="" [compact]="true" [(ngModel)]="searchTerm"
            (ngModelChange)="onSearchModelChange()" [dropdownValues]="[]">
        </fd-search-input>
    </fd-panel-filters>
    <fd-panel-body class="masterPanelBody">
        <fd-side-nav>
            <fd-loading-spinner *ngIf="loading$ | async" [loading]="true"></fd-loading-spinner>
            <ng-container *ngIf="taskList$ | async">
                <fd-side-nav-list>
                    <app-tile [taskListSearchResults]="taskListSearchResults"></app-tile>
                </fd-side-nav-list>
            </ng-container>
        </fd-side-nav>
    </fd-panel-body>
    <fd-panel-footer>
        <button class="fd-button--shell sap-icon--sort" (click)="onSort()"></button>
        <button class="fd-button--shell sap-icon--filter"></button>
        <button class="fd-button--shell sap-icon--group-2"></button>
    </fd-panel-footer>
</fd-panel>