<fd-panel>
    <fd-panel-body class="detailTabBody">
        <div style="display: flex;">
            <div style="display: grid;">
                <span>Property Key 1</span>
                <span>Property Key 2</span>
                <span>Property Key 3</span>
                <span>Property Key 4</span>
                <span>Property Key sdfasdfasfasdfasfdasfdas</span>
                <span>Property Key 5</span>
                <span>Property Key 6</span>
                <span>Property Key 7</span>
                <span>Property Key 8</span>
                <span>Property Key 9</span>
                <span>Property Key 10</span>
                <span>Property Key 11</span>
                <span>Property Key 12</span>
                <span>Property Key 13</span>
                <span>Property Key 14</span>
                <span>Property Key 15</span>
                <span>Property Key 16</span>
            </div>
            <div style="display: grid;">
                <span>Property Value 1 asdfasdfasdfasdfasdf</span>
                <span>Property Value 2</span>
                <span>Property Value 3</span>
                <span>Property Value 4</span>
                <span>Property Value sdfasdfasfasdfasfdasfdas</span>
                <span>Property Value 5</span>
                <span>Property Value 6</span>
                <span>Property Value 7</span>
                <span>Property Value 8</span>
                <span>Property Value 9</span>
                <span>Property Value 10</span>
                <span>Property Value 11</span>
                <span>Property Value 12</span>
                <span>Property Value 13</span>
                <span>Property Value 14</span>
                <span>Property Value 15</span>
                <span>Property Value 16</span>
            </div>
        </div>

        <fd-table>
            <fd-table-header>
                <th>Column 1</th>
                <th>Column 2</th>
                <th>Column 3</th>
                <th>Date</th>
                <th>Type</th>
            </fd-table-header>
            <fd-table-body>
                <tr *ngFor="let row of tableRows">
                    <td class="fd-has-font-weight-semi"><a href="#">{{row.column1}}</a></td>
                    <td>{{row.column2}}</td>
                    <td>{{row.column3}}</td>
                    <td>{{row.date}}</td>
                    <td><fd-icon [glyph]="row.type"></fd-icon></td>
                </tr>
            </fd-table-body>
        </fd-table>
    </fd-panel-body>
</fd-panel>
