<fd-tile *ngFor="let task of taskListSearchResults" [isButton]="true" (click)="setSelectedTaskId(task.id)"
  id="tile{{task.id}}" [class.sapMLIBSelected]="isActive(task.id)">
  <fd-tile-content>
    <fd-tile-title>
      {{ task.taskTitle }}
    </fd-tile-title>
    <div class="sapMObjLBottomRow">
      <div class="sapMObjLAttrRow">
        <div class="sapMObjLAttrDiv">
          <div class="sapMObjectAttributeDiv">
            <p>{{ task.createdByName }}</p>
          </div>
          <div class="sapMObjectAttributeDiv">
            <p>{{translatedTexts?.dueOn}} {{(task.completionDeadLine)?.seconds | msToSec | date:'medium'}}</p>
          </div>
          <div class="sapMObjectAttributeDiv">
            <p>{{translatedTexts?.onBehalf}} {{ task.user }}</p>
          </div>
        </div>
        <div class="sapMObjLStatusDiv">
          <div class="sapMObjStatus">
            <span [appTaskprioritycolour]="task.priority" dir="ltr">
              {{ task.priority }}
            </span>
          </div>
          <div class="sapMObjStatus">
            <span appTaskduecolour dir="ltr">
              {{(task.completionDeadLine)?.seconds | msToSec | taskduetext:now }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </fd-tile-content>
</fd-tile>