:host {
    height: calc(100vh - 6.5rem);
    display: flex;
    overflow: hidden;

    >.fd-panel {
        width: 100%;
    }
}

.content {
    flex-grow: 1;
    padding-bottom: 2rem;
    width: 100vh;
}

fd-panel {
    background-color: #eff4f9;
}

.sapMOHAttrRow {
    margin-top: 0.625rem;
    overflow: hidden;
    display: block;
}

.sapMOHBottomRow {
    margin-top: 1rem;
}

.fd-action-bar__header {
    padding: 16px 24px;
    width: initial
}

.fd-action-bar__actions {
    padding-right: 24px;
}

::ng-deep app-detail .fd-panel__footer {
    width: calc(100% - 320px);
    right: 0;
}  

::ng-deep fd-panel>div {
    height: 100%;
}

::ng-deep app-detail>.fd-panel>div>fd-panel-body {
    display: block;
    position: absolute;
    height: calc(100% - 10rem);
    overflow-y: scroll;
    right: 0;
    left: 320px;
}    

::ng-deep fd-action-bar-actions .fd-inline-help__content {
	min-width: initial;
}

::ng-deep .fd-tabs a {
    text-decoration: none;
}

.fullWidth {
    left: 0;
}

.barLeft>button {
    display: none;
}

.fd-tabs__panel.is-expanded {
    background: white;
    border-top: 0.125rem solid #d1e0ee;
    border-bottom: 0.125rem solid #d1e0ee;
}

@media screen and (max-width: 767px) {
    ::ng-deep app-detail>.fd-panel>div>fd-panel-body {
        left: 0;
    }

    .barLeft {
        height: 2.5rem;
        position: relative;
        top: -7px;

        >button {
            display: initial;
        }
    }

    // .barLeft>button {
    //     display: initial;
    // }

    // .hide {
    //     display: none;
    // }
}

