<fd-panel>
    <fd-panel-filters>
        <div class="barMiddle">
            <span>{{(task | async)?.taskDefinitionName}} </span>
            <fd-inline-help [position]="'bottom-right'">
                Lorem ipsum dolor sit amet, consectetur adipiscing.
            </fd-inline-help>
        </div>
    </fd-panel-filters>
    <fd-panel-body [class.loading-align]="!!loading">
        <fd-loading-spinner [loading]="loading"></fd-loading-spinner>
        <fd-action-bar *ngIf="!loading">
            <fd-action-bar-header>
                <fd-action-bar-title>{{(task | async)?.taskTitle}}</fd-action-bar-title>
                <fd-action-bar-description>
                    <div class="sapMOHBottomRow">
                        <fd-action-bar-description class="sapMOHAttrRow">
                            {{(task | async)?.createdByName}}
                        </fd-action-bar-description>
                        <fd-action-bar-description class="sapMOHAttrRow">
                            <!-- <ng-container i18n="@@dueOn">Due on</ng-container> -->
                            <span>{{translatedTexts?.dueOn}} </span>
                            <span>
                                {{(task | async)?.completionDeadLine.milliseconds * 1000 | date:'medium'}}
                            </span>
                        </fd-action-bar-description>
                        <fd-action-bar-description class="sapMOHAttrRow">
                            <!-- <ng-container i18n="@@createdOn">Created on</ng-container> -->
                            <span>{{translatedTexts?.createdOn}} </span>
                            {{(task | async)?.createdOn.milliseconds * 1000 | date:'medium'}}
                        </fd-action-bar-description>
                    </div>
                </fd-action-bar-description>
            </fd-action-bar-header>
            <fd-action-bar-actions>
                <span>{{ (task | async)?.user }} </span>
                <fd-inline-help [position]="'bottom-left'">
                    <fd-label [isStatusLabel]="true" [statusIcon]="'busy'">Busy</fd-label>
                </fd-inline-help>
            </fd-action-bar-actions>
        </fd-action-bar>
        <fd-tab-list *ngIf="!loading">
            <fd-tab [title]="translatedTexts?.info">
                <app-info></app-info>
            </fd-tab>
            <fd-tab i18n-title="@@comments" [title]="translatedTexts?.comments">
                <app-comments></app-comments>
            </fd-tab>
            <fd-tab i18n-title="@@attachments" [title]="translatedTexts?.attachments">
                <app-attachments></app-attachments>
            </fd-tab>
        </fd-tab-list>
    </fd-panel-body>
    <fd-panel-footer>
        <button class="fd-button--shell sap-icon--action"></button>
    </fd-panel-footer>
</fd-panel>