html {
    min-height: 100%;
    overflow: hidden;
}

app-detail, app-master {
    height: calc(100vh - 6.5rem);
    // width: 100vw;
}

app-master {
    float: left;
}

app-detail>.fd-panel {
    width: 100%;
}

app-detail .fd-panel__body {
    padding: 0;
}

app-detail .fd-panel__filters {
    box-shadow: inset 0 -0.0625rem #d1e0ee;
    padding-bottom: 1px;
}

fd-panel .fd-panel__footer {
    bottom: 0;
    position: absolute;
    background-color: #2f3c48;
    border-top: 1px solid #475b6d;
    color: white;
    width: 319px;
    box-shadow: inset 0 -0.0625rem #4f667a;
    height: 3rem;
    padding: 0.5rem 0 0.25rem 0;
    z-index: 2;
}

.fd-tabs__panel.is-expanded {
    background: white;
    border-top: 0.125rem solid #d1e0ee;
    border-bottom: 0.125rem solid #d1e0ee;
}

div.fd-panel__footer {
    bottom: 0;
    position: absolute;
    background-color: #2f3c48;
    border-top: 1px solid #475b6d;
    color: white;
    flex-direction: row;
    display: flex;
    justify-content: flex-end;
}

.fd-tabs {
    background-color: inherit; // !important;
}

.masterPanelBody>div {
    padding: 0;
}

fd-tile-title>.fd-tile__title {
    vertical-align: top;
    word-break: break-word;
    color: #333333;
    font-size: 1.125rem;
    font-weight: normal;
    line-height: 1.5rem;
}

.sapMObjectAttributeDiv {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    padding-top: .313rem;
}

.sapMObjLStatusDiv>* {
    padding-top: .313rem;
}

.masterPanelFilter>.fd-panel__filters {
    padding: 12px 0.25rem 0.1875rem 0.25rem;
}

.barMiddle {
    text-align: center;
    height: 2.5rem; // !important;
    font-size: large;
}

.fd-panel__footer>button {
    height: 1.625rem;
    margin-top: 0.1875rem;
    margin-bottom: 0.1875rem;
}

.masterPanelBody .fd-panel__body {
    width: 319px;
}

ul.fd-tabs {
    padding-left: 8px;
    margin: 0;
    border-bottom: 0;
}

.detailTabBody>.fd-panel__body {
    padding: 24px;
}

app-detail .fd-panel__filters {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-left: 0;
    padding-right: 0;
}

.barLeft>button {
    display: none;
}

@media screen and (max-width: 767px) {
    .barLeft {
        height: 2.5rem;
        position: relative;
        top: -7px;
    }

    .barLeft>button {
        display: initial;
    }

    .hide {
        display: none;
    }
}