<fd-panel>
    <fd-panel-body class="detailTabBody">
        <fd-tile>
            <fd-tile-media>
                <img src="./assets/images/headshot-male.jpg" alt="">
            </fd-tile-media>
            <fd-tile-content>
                <div fd-form-group>
                    <div fd-form-item>
                        <fd-input-group i18n-placeholder="@@commentEnter" [button]="true" [placement]="'after'"
                            [addOnText]="'Submit'" [placeholder]="translatedTexts?.commentEnter"
                            [glyph]="'feeder-arrow'">
                        </fd-input-group>
                    </div>
                </div>
            </fd-tile-content>
        </fd-tile>
        <ng-container *ngIf="(comments$ | async) as comments">
            <ng-container *ngFor="let comment of comments">
                <fd-tile [ngClass]="comment.type === 'in' ? 'tileCommentInbound' : ''">
                    <fd-tile-content>
                        {{ comment?.content }}
                    </fd-tile-content>
                    <fd-tile-media>
                        <img [src]="comment.type === 'in' ? './assets/images/headshot-female.png' : './assets/images/headshot-male.jpg'"
                            alt="">
                    </fd-tile-media>
                </fd-tile>
            </ng-container>
        </ng-container>
    </fd-panel-body>
</fd-panel>