<fd-panel>
    <fd-panel-body class="detailTabBody">
        <fd-tile class="tileReadOnly">
            <fd-tile-content>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla facere vero voluptates facilis in dolores porro sed perferendis dolorum laudantium? Unde laudantium non animi suscipit nisi fugit, harum esse quod.
            </fd-tile-content>
            <fd-tile-media>
                <img src="./assets/images/headshot-female.png" alt="">
            </fd-tile-media>
        </fd-tile>
        <fd-tile>
            <fd-tile-media>
                <img src="./assets/images/headshot-male.jpg" alt="">
            </fd-tile-media>
            <fd-tile-content>
                <div fd-form-group>
                    <div fd-form-item>
                        <fd-input-group i18n-placeholder="@@commentEnter" [button]="true" [placement]="'after'" [addOnText]="'Submit'"
                            [placeholder]="'Enter a comment'" [glyph]="'feeder-arrow'">
                        </fd-input-group>
                    </div>
                </div>
            </fd-tile-content>
        </fd-tile>
    </fd-panel-body>
</fd-panel>
